<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_BASIC_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logomedi"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logomedi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.UnlistedItemsActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            />
        <activity
            android:name=".Activities.CashMemoListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CashMemoDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ExpensiveActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.CashMemoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.PosAllListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PosDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PosActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.AllOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ExpireActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UrgentCartActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.CartActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.SubscribeActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ExpiryListActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.RecentStockistActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UnlistedStockistActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.ExpiryRegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.OrderRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.UpdateAddressActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SeeAllOrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ViewAllStockistActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.StockistActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.EditProfileActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.DashBoardActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".Activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MediBridge" />

        <service
            android:name=".Services.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCsum9JmFSxokkjB1itUPTrsa4UwX0yLYY" />
    </application>

</manifest>